In [10]:
import pandas as pd

In [22]:
fi = r'C:\Users\LUISSOLIS\Documents\igme\tmp\Asignacion_ALS_v6.xlsx'
sheet_name = 'CONTADORES_LS_para_gis'
df = pd.read_excel(fi, 
                   sheet_name=sheet_name, 
                   engine='openpyxl',
                   converters={'inscripcio': int, 'mas_a': str, 'acu_a':str,
                               'pozo': int, 'acuiferos':str, 'observ':str})

In [6]:
df.iloc[141:143]

,id,inscripcio,ism,sica,mas_a,mas_ls,nombre_mas_a,nombre_mas_ls,acu_a,acu_ls,...,utmx,utmy,vol1314,vol1415,vol1516,vol1617,vol1718,vol1819,acuiferos,observ
141,426,3678,ISM-25/2011,S096K081509P01,070.061,NaN,ÁGUILAS,NaN,119,NaN,...,622987,4140667,342297.0,287716.0,274854.0,322174.0,939334.0,726279.0,NaN,NaN
142,424,3678,ISM-25/2011,S096K081507P01,070.061,NaN,ÁGUILAS,NaN,126,NaN,...,618188,4142858,119343.0,19789.0,22637.0,50646.0,158844.0,74554.0,NaN,NaN

In [23]:
fo = r'C:\Users\LUISSOLIS\Documents\igme\tmp\Asignacion_ALS_v6.csv'
df.to_csv(fo, index=False, encoding='utf-8')